#footer-contact {
  text-align: center;
}

#footer-contact{
  background: #f2f2f2;
}
#footer-contact .row {
  display: flex;
  align-items: center;
  // justify-content: space-around;
}

.dropdown-menu>li>a {
  text-transform: none;
  font-size: 17px;
}

.navigation a:focus {
    text-decoration: none;
}

#cookie-bar {
  z-index: 9999;
  min-height: 30px !important;
  min-height: 30px !important;
  line-height: 30px !important;
  background: rgba(0,0,0, 0.6) !important;
}
#cookie-bar p {
  text-align: center !important;
  color: #fff;
}
#cookie-bar .cb-enable {
  background: transparent !important;
  text-decoration: underline !important;
}
#cookie-bar .cb-policy {
  background: transparent !important;
  text-decoration: underline !important;
}
body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 13px;
  color: #454545;
}
a {
  color: #aaaaaa;
}
a:hover {
  color: #454545;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yanone Kaffeesatz", Helvetica, sans-serif;
}
h1 {
  text-transform: uppercase;
  font-size: 28px;
  line-height: 28px;
  margin: 30px 0 5px;
}

.navbar h1#logo-areea {
  background: url(../img/logo-areea.png) no-repeat center center;
  width: 340px;
  height: 24px;
  position: absolute;
  right: 25px;
  top: 0;
  text-indent: -9999px;
}

.no-list {list-style: none; padding-left: 0;}
.carousel-control.right {background: transparent;}
.carousel-control.left {background: transparent;}
h2 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 22px;
  margin: 5px 0 15px;
  color: #aaaaaa;
}
h3 {
  text-transform: uppercase;
}
p {
  color: #454545;
  margin: 15px 0;
  text-align: justify;
}
img {
  margin: 10px 0;
}
.justify {
  text-align: justify;
}
.carousel-caption p {
  color: inherit;
}

.carousel .item {
  width: 100%;
  height: 530px;
  /*background: url(../img/slide01.jpg) no-repeat center center;*/
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #footer-contact .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .carousel .item {
        height: 400px;
     }
     .socials {margin-top: 0;}
     .navigation li {
      font-size: 14px;
     }
}

@media screen and (max-width: 767px) {

  #footer-contact .row {
    display: block;
    // align-items: center;
    // justify-content: space-around;
  }

    #masonry-container {
        margin-left: 0;
    }
    .carousel .item {
        height: 350px;
    }
    .navbar h1#logo-areea {
      display: none;
    }
}

#carousel {
  position: relative;
  z-index: 1;
  /*height: 530px;*/
}



#carousel img {
  margin: 0;
  border: 1px solid #ebebeb;
  /*height: 530px;*/
  width: 100%;
}
.member-col {
  margin: 10px 0;
}
#header {
  height: 160px;
  border-bottom: 1px solid #ebebeb;
}
#logo {
  width: 195px;
  height: 131px;
  float: left;
  background: url(../img/logo-acam.png) no-repeat;
  margin-top: 15px;
  text-indent: -9999px;
}
.red {
  color: #ed1c24;
}
.purple {
  color: #92278f;
}
.azure {
  color: #00b7ab;
}
.navigation {
  font-family: 'Yanone Kaffeesatz', Helvetica, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  float: right;
  margin-top: 89px;
}
.navigation li {
  display: inline;
}
.navigation li.current a {
  border-bottom: 3px solid #454545;
}
.navigation li.current ul li a {
  border-bottom: 0;
}
.navigation li a {
  display: inline-block;
  padding: 15px 15px 25px 15px;
  color: #454545;
}
.navigation li a:hover {
  border-bottom: 3px solid #454545;
  text-decoration: none;
}
.navigation li ul li {
  display: block;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.navigation li ul li a {
  display: block;
  font-size: 16px;
  padding: 10px;
}
.navigation li ul li a:hover {
  border: 0;
}
.navigation .dropdown-toggle:focus {
  text-decoration: none;
}
.navigation .dropdown-menu {
  border-radius: 0;
  padding-top: 0;
  padding-bottom: 0;
  top: 50px;
}
.breadcrumb {
  background: #fff;
  padding: 20px 15px;
  border-bottom: 1px solid #ebebeb;
  border-top: 1px solid #ebebeb;
}
.breadcrumb a {
  color: #454545;
  margin-bottom: 0!important;
}



.separator {
  border-bottom: 1px solid #ebebeb;
  height: 1px;
  width: 100%;
  display: block;
  margin: 10px 0;
}
.separator-half {
  border-bottom: 1px solid #ebebeb;
  height: 1px;
  width: 50%;
  display: block;
  margin: 10px 0;
}
.google-map {
  position: relative;
  padding-bottom: 30%;
  height: 0;
  overflow: hidden;
}
.google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;  
}
.centered {
  text-align: center;
  margin: 15px 0;
  background: url(../img/heading-bg.png) no-repeat;
}
.centered span {
  background: #fff;
  padding: 0 15px;
}
.contact-info {
  list-style: none;
  padding-left: 0;
}
.contact-info li {
  padding: 3px 0;
}

.contact-info a {
  color: inherit;
}
.contact-info a:hover, .contact-info a:focus {
  color: #aaa;
  text-decoration: none;
}

.contact-info img:hover {
  opacity: 0.7;
}
.home-portfolio {
  margin: 15px 0;
  margin-top: -30px;
}
.home-portfolio img {
  margin: 0;
  width: 100%;
  height: 100%;
}
.home-portfolio a {
  border-radius: 0;
  color: #aaaaaa;
}
.home-portfolio a:hover {
  border-color: #454545;
  text-decoration: none;
  color: #454545;
}
.home-portfolio h3 {
  margin-left: 15px;
  margin-right: 15px;
  text-transform: none;
  font-weight: 300;
}
.home-portfolio p {
  color: #aaaaaa;
  margin: 10px 15px;
  transition: .25s;
}
.thumbnail {
  position: relative;
}
.thumbnail:after {
  position: absolute;
  content: "";
  top: -1px;
  right: -1px;
  width: 1px;
  height: 1px;
  background: #fff;
  border: 15px solid #454545;
  border-color: transparent transparent #fff #fff;
}
.thumbnail.art:after {
  border-color: transparent transparent #ed1c24 #ed1c24;
}
.thumbnail.creativity:after {
  border-color: transparent transparent #92278f #92278f;
}
.thumbnail.architecture:after {
  border-color: transparent transparent #00b7ab #00b7ab;
}
.thumbnail.management:after {
  border-color: transparent transparent #454545 #454545;
}
.thumbnail:hover p {
  color: #454545;
  margin: 10px 15px;
  transition: .25s;
}
.thumbnail img {
  border: 1px solid #ebebeb !important;
}
.project-info .project-desc h3 {
  margin-top: 35px;
}
.project-info .project-desc p {
  text-align: justify;
}
.project-info .pdf-links {
  /*background: #ebebeb;*/
  margin-top: 15px;
}
.project-info .pdf-links h3 {
  padding: 0px 15px 0;
  padding-left: 0;
  text-transform: none;
}
.project-info .pdf-links ul {
  padding: 0 30px 15px 0px;
}
.project-info .pdf-links ul li {
  list-style: none;
  padding: 5px 0;
}
.project-info .pdf-links p {
  padding: 15px 15px 0;
}
.project-info .pdf-links a {
  color: #454545;
}
.shoutouts {
  padding: 15px 0;
  margin: 0 0 30px 0;
}
.shoutouts h1 {
  text-align: center;
  margin: 30px 0 -15px 0;
}
.shoutouts p {
  text-align: center;
  font-size: 20px;
  color: #aaa;
}
.navigation-mobile {
  position: relative;
  z-index: 500;
  background: #fff;
  padding-left: 0;
  text-align: center;
  border: 1px solid #ebebeb;
}
.navigation-mobile li {
  list-style: none;
  background: #fff;
}
.navigation-mobile li a {
  color: #aaa;
  background: #fff;
  width: 100%;
  display: block;
  border-bottom: 1px solid #ebebeb;
  padding: 5px 0;
}
.navigation-mobile li a:hover {
  background: #ebebeb;
  text-decoration: none;
}
.black {
  color: #454545 !important;
}
.navbar-toggle {
  background: #ebebeb;
}
.col-md-6 {
  border-left: 1px solid #ebebeb;
  margin-bottom: 15px;
}
.col-md-3 p {
  text-align: left;
}
.no-border {
  border: 0 !important;
}
.left-col {
  border-left: 0;
}
.fa {
  font-size: 16px;
}
.person-logo {
  border: 2px solid #ebebeb;
  margin-bottom: 20px;
  width: 100px !important;
}
#footer {
  padding: 15px 0;
  margin: 20px 0 0 0;
  border-top: 1px solid #ebebeb;
  position: relative;
  z-index: 1;
}
#footer .socials i {
  font-size: 30px;
  margin-right: 5px;
  margin-top: 5px;
}

#footer ul {
  margin-bottom: 0;
}

#footer p {
  margin: 0;
  font-size: 12px;
}
#footer .container {
  padding: 30px 15px 30px 15px;
  border-bottom: 1px solid #ebebeb;
}
#footer #footer-contact {
  padding-top: 0;
}
#footer h3 {
  text-transform: none;
}
#footer .btn-instagram {
  margin-top: 20px;
  border: 0;    
  color: #fff;
  background: #aaaaaa;
}
#masonry-container {
  width: inherit;
  margin-left: -15px;
}
.socials {
  margin-top: 0px;
}
.network p {
  text-align: left;
}
.network h4 {
  margin-top: 20px;
}
.network a {
  line-height: 20px;
  display: inline-block;
  margin-bottom: 10px;
}
.network img {
  margin-bottom: 5px;
}
.credits p {
  text-align: center;
}
.map-container {
  position: relative;
  padding-bottom: 73.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}
.map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.icon-bar {
  background: #aaa;
}
@media (min-width: 768px) {
  .fivecolumns .col-md-2,
  .fivecolumns .col-sm-2,
  .fivecolumns .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
  
}
@media (min-width: 1200px) {
  .fivecolumns .col-md-2,
  .fivecolumns .col-sm-2,
  .fivecolumns .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .fivecolumns .col-md-2,
  .fivecolumns .col-sm-2,
  .fivecolumns .col-lg-2 {
    width: 20%;
    *width: 20%;
  }
}


.art-label {
  color: #ed1c24;
}
.creativity-label {
  color: #92278f;
}
.architecture-label {
  color :#00b7ab;
}
.management-label {
  color: #454545;
}


span.load-more-section {
  display: block;
  margin: 25px auto;
  width: 200px;
  padding: 15px;
  font-size: 16px;
  text-align: center;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.25s;
          transition: 0.25s;
}
.navigation {
  padding-left: 0;
}

.carousel .item {
  background-size: cover!important;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .carousel .item {
        height: 400px;
     }
     .navigation {
      margin-top: 60px;
     }
     #logo {
      width: 150px;
      height: 110px;
      background-size: contain;
     }
     .socials {margin-top: 0;}
     .map-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 96%;
      }
}

@media screen and (max-width: 767px) {
  #logo {
      width: 150px;
      height: 110px;
      background-size: contain;
     }
  .navbar {
    margin-bottom: 0;
  }
  #header {
    height: auto;
  }
}

.network h1 {
  text-transform: none;
}
.page h2, .page h1 {
  text-transform: none;
}
.project-desc h1 {
  text-transform: none;
}

.shoutouts h1 {
  text-transform: none;
}

.page p, .page ul {
  font-size: 13px !important;
}

.page h1, .page h2, .page h3, .page h4 {
  font-family: 'Yanone Kaffeesatz';
}

